.img-thumbnail {
    margin: 25px;
    width: 86%;
    height: 86%;
}

.card-body {
    padding: 10px 15px;

}

.card-footer {
    background-color: rgb(137, 17, 141);
    padding: 10px 15px;
    border-top: none;
}

.test {
    text-emphasis-color:  crimson;
}